<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Match League</title>

    <!-- Importar fuente Press Start 2P -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- Tu nueva hoja de estilos -->
    <link href="~/Assets/css/general_styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/Assets/images/logo_juego.png" alt="The Match League">
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon">
                    <span></span>
                </span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("LOGIN", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - THE MATCH LEAGUE - MATCH & WIN</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>